body {
	background-image: url("../img/background.png");
	font-family: "Microsoft JhengHei","微軟正黑體",sans-serif !important;
	font-size: 1.3em;
}

header {
	background-color: block;
	background-image: url("../img/topbanner.jpg");
}

h1 {
	text-align: center;
	font-size: 2.3em;
}

h2 {
	font-size: 1.9em;
}

h3 {
	font-size: 1.8em;
}

img {
	border-radius:0.3em;
}

h1 span {
	position: relative;
    top: 0.2em;
	position: relative;
	background-color:#8b794b;
	padding: 0 0.3em;
	color:white;
}

h1 p {
	display: inline-block;
    padding: 0 0.5em;
    position: relative;
    top: -0.6em;
	background-image: url("../img/background.png");
}

.m-line {
	border-bottom:2px solid #8b794b;
	position: relative;
	top: -60px;
	z-index: -1;
}


p {
	margin-top: 1em;
}

table {
	margin-bottom : 2em;
}

th {
	font-size: 1.3em;
}

th, td {
    border: 0.2em solid brown;
	padding: 0.5em 1em;
}

th {
    text-align: center;
}

td p {
    padding: 0.5em 1em;
	margin:0;	
}

p img {
	margin:0 1em;
}

td img {
	width:90%;
}

img.r-img {
	float: right;
}

img.l-img {
	float: left;
}

.container {
    height: 100%;
	width: 100%;
	overflow: hidden;
}

.navbar-collapse {
	margin-left: 1em;
}

.navbar {
	margin-bottom: 2em;
	width: 90%;
	margin: 0 auto;
}

li.nav-item {
	text-align: center;
	margin: 0 0.1em;
}

iframe {
    height: 900px;
    width: 100%;
}

.photo, .phototh, .phototd {
    border: 1px solid transparent !important;
    margin: 10px !important;
    text-align: left !important;
}

#gallery span {
	float: left;
	width: 16em;
	margin-bottom: 1em;
}

.navigation-clean {
	background: none;
}

#menu-button {
	/* position: absolute; */
    /* margin-left: 60%; */
}

.nooborder td{
	padding: 0;
	border: 0;
}

.footer-dark {
	background: #642100;
	width: 100%;
	margin-top: 2em;
}

footer {
	width:1200px;
	margin: 0 auto;
}

.interview {
	color: white;
	background-color: #8b794b;
	height: 210px;
	padding-right:0.5em;
	margin-top: 1em;
}

.interview.en {
	height: 260px;
}

.interview img{
	margin-right: 0.5em;
	border-radius: 0;
	width: 8em;
}

.interview.en img{
	width: 10em;
}

.interview h2 {
	font-size: 1.5em;
}

.interview p {
	font-size: 0.8em;
	margin: 0.2em 0;
}

.w-2 {
	width:20%;
}

.w-3 {
	width:30%;
}

.w-4 {
	width:40%;
}

.w-5 {
	width:50%;
}

.reference {
	color: red;
	font-size: 0.3em;
}

.team {
	border-radius: 0;
	display: none;
	position: relative;
}

.team.p1 {
	top: -100%;
}

.team.p2 {
	top: -200%;
}

.team.p3 {
	top: -300%;
}

.team.p4{
	top: -400%;
}

.team.p5{
	top: -500%;
}

span.name {
	position: relative;
	padding: 0.2em;
	border-radius: 0.4em;
	border:1px solid yellow;
	display:none;
	opacity:0.7;
}
span.p1 {
	top: -585%;
	left: 10%;
	background-color:white;
}
span.p2 {
	top: -580%;
	left: 17%;
	background-color:white;
}

span.p3 {
	top: -588%;
	left: 22%;
	background-color:white;
}

span.p4 {
	top: -580%;
	left: 32%;
	background-color:white;
}

span.p5 {
	top: -580%;
	left: 42%;
	background-color:white;
}

span.p6 {
	top: -585%;
	left: 51%;
	background-color:white;
}
#Time_BG {
	margin:0px;
	padding:0px;
	background:#fff url(../img/conclusion/Time_BG.jpg) center center fixed no-repeat;　/*設定背景圖片的呈現方式*/
	background-size: cover;　/*設定背景圖片的填滿方式*/
}

.teacher {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}

footer div.col-xl-2 img {
	width: 60% !important;
	height: auto !important;
}