body {
	background-image: url("../img/background.png");
	font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
}

header {
	background-color: block;
	background-image: url("../img/topbanner.jpg");
}

h1 {
	text-align: center;
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

img {
	border-radius:0.3em;
}

h1 span {
	position: relative;
    top: 0.2em;
	position: relative;
	background-color:#8b794b;
	padding: 0 0.3em;
	color:white;
}

h1 p {
	display: inline-block;
    padding: 0 0.5em;
    position: relative;
    top: -0.6em;
    background-image: url(../img/background.png);
}

.m-line {
	border-bottom:2px solid #8b794b;
	position: relative;
	top: -60px;
	z-index: -1;
}


p {
	margin-top: 1em;
	font-size : 1em;
}

table {
	margin-bottom : 2em;
}

th, td {
    border: 0.2em solid brown;
	padding: 0.5em 1em;
	font-size: 1.2em;
}

th {
    text-align: center;
}

td p {
    padding: 0.5em 1em;
    font-size: 1.2em;
	margin:0;	
}

p img {
	margin:0 1em;
}

td img {
	width:90%;
}

img.r-img {
	float: right;
}

img.l-img {
	float: left;
}

.container {
    height: 100%;
    width: 100%;
	margin-bottom:300px;
}

.navbar-collapse {
	margin-left: 1em;
}

.navbar {
	margin-bottom: 2em;
	width: 1400px;
	margin: 0 auto;
}

li.nav-item {
	text-align: center;
	margin: 0 0.1em;
}

iframe {
    height: 900px;
    width: 100%;
}

.photo, .phototh, .phototd {
    border: 1px solid transparent !important;
    margin: 10px !important;
    text-align: left !important;
}

#gallery span {
	float: left;
	width: 16em;
	margin-bottom: 1em;
}

.navigation-clean {
	background: none;
}

#menu-button {
	/* position: absolute; */
    /* margin-left: 60%; */
}

.nooborder td{
	padding: 0;
	border: 0;
}

.footer-dark {
	background:#A23400;
	width: 100%;
    position: fixed;
    bottom: 0;
}

footer {
	width:1200px;
	margin: 0 auto;
}

.interview {
	font-size: 0.8em;
	color: white;
	background-color: #8b794b;
	height: 200px;
	padding-right:0.5em;
	margin-top: 1em;
}

.interview img{
	width: 12em;
	margin-right: 0.5em;
	border-radius: 0;
	
}
img.npm-2 {
	width:20%;
}
img.npm-3 {
	width:30%;
}
.w-2 {
	width:20%;
}
.w-3 {
	width:30%;
}
.w-4 {
	width:40%;
}
.w-5 {
	width:50%;
}
